.Menu {
    background-color: #3498db;
    background-image: linear-gradient(to bottom right, #67EFFF, #3498db);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    height: max-content;
    position: fixed;
    z-index: 3;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

a {
    font-size: 28pt;
    font-weight: 500;
    color: white;
    transition: 0.5s;
}

p {
    margin: 0;
}

a:link {
    text-decoration: none;
    font-size: 32pt;
}

a:hover {
    color: #001588;
}
