.about-container {
    align-self:  center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    overflow: hidden;
}

.description {
    font-size: 20pt;
    width: 60%;
    height: 10%;
}

img {
    top: 5px;
    width: 25%;
    height: 25%;
}
