.about-conteiner {
	margin-left: 15%;
	max-width: 90%;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.SomeDetails{
    display: flex;
	flex-direction: row;
    align-items: center;
    margin: 2em;
}

.card-element {
	max-width: 40%;
	margin-right: 2em;
	margin-top: 2em;
}


.md-form {
	margin-top: 0.5em;
	margin-bottom: 0em;
	margin-left: 2em;
}

.card-text{
	margin-bottom: 0.5em;
}

.add-card-button-group {
	margin-left: 2em;
	margin-right: 2em;
}

.max-h-10 {
	max-height: 5em;
}

.btn {
   margin-top: 0;
   margin-left: 0.25em;
   margin-bottom: 0.5em;
   margin-right: 0.25em;
}