.profile-conteiner {
	max-width: 60%;
	margin-left: 20em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 1em;
}

.no-mg-top {
  margin-top: 0;
  padding-top:  0;
}

.c-title {
  font-size: 24px;
}

.opacity-button {
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  margin-top: 0.5em;
  cursor: pointer;
}

.opacity-button:hover{
  color: grey;
}

.profile-panel{
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile-conteiner button {
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
}

.opacity-full {
  background-color: rgba( 255, 255, 255,  1);
}

.opacity-middle {
  background-color: rgba( 255, 255, 255,  0.5);
}

.opacity-null {
  background-color: rgba( 255, 255, 255,  0);
}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.up {
	z-index: 10;
}

.button-mg-top {
  margin-top:   0.3em;
  margin-bottom: 1em;
  font-size: 30px;
}
.card-down {
  margin-top: 2em;
	z-index: -10;
	position: relative;
	display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 5em;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-weight: 400;
    border: 0;
    max-width: 60em;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.max { height: 100%;  }

.up-full {
	width: 50em;
	display: flex;
  position: absolute;
  top: 15em;
  margin-bottom: 5em;
	}

.up-edit {
  width: 50em;
  display: flex;
  position: absolute;
  top: 20em;
  margin-bottom: 5em;
  flex-direction: column;
  }



.editable-title {
	font-weight: bold;
	font-size: 20pt;
}


.profile-photo {
  display: flex;
  justify-content: space-around;
}

.default {
  display: flex;
  flex-direction : row;
}

.reverse {
  display: flex;
  flex-direction : row-reverse;
}


.avatar-reverse{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.avatar-reverseY{
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.avatar {
  max-width: 450px;
  font-size: 24px;
  width: 70%;
  height: 70%;
  display:  flex;
  flex-direction: row;
}

.bootom-border-plus img {
  border-bottom-right-radius: 50%; 
}

.bootom-border-minus img {
  border-bottom-left-radius: 50%; 
}

.top-border-plus img {
  border-top-right-radius: 50%; 
}

.top-border-minus img {
  border-top-left-radius: 50%; 
}

.right-border-plus img {
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%; 
}

.circle-border-plus img {
  border-radius: 50%; 
}


.avatar-minus {
  max-width: 400px;
  font-size: 24px;
  width: 50%;
  height: 50%;
  display:  flex;
  flex-direction:   row;
}

.avatar-plus {
  max-width: 500px;
  font-size: 24px;
  display:  flex;
  flex-direction: row;
  width: 90%;
  height:   90%;
}

.avatar-plus .control-panel{
display:  flex;
flex-direction:   column; 
justify-content:  flex-start;
}

.avatar-minus .control-panel{
display:  flex;
flex-direction:   column; 
justify-content:  flex-start;
}

.avatar .control-panel{
display:  flex;
flex-direction:   column; 
justify-content:  flex-start;
}

.md-form {
  width: 100%;
}

.lock{
  max-width: 500px;
}

.title-row{
  display:  flex;
  flex-direction:   row;
  width: 100%;
  align-items: center;  
  justify-content:  center; 
}

.center-text-keeper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5em; 
  padding-right: 2em; 
  max-width: 500px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.center-text-keeper .text-control-item {
  max-width: 400px;
}


.btn-fb {
   background-color: #204da8;  
}

.btn-lincked {
  background-color: #26afe0; 
}

.btn-instagram{
  background-color: #eb173e; 
}

.btn-github{
  background-color: #332d2e;
}


.no-rm{
  margin-right: 0;
}

.btn-edit-social {
  border: none; 
  border: none;
  outline: none;
  background: none;
}

.btn-edit-social:hover, .btn-edit-social:active, .btn-edit-social:focus {
  outline: none;
}

.social-panel {
  display:  flex; 
  flex-direction:   row; 
  max-width: 60%;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 0.5em; 

}

.social-button {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  align-items: center;
  color: white;

}

.social-item {
  margin-left: 0.5em;

}