.profile-conteiner {
	max-width: 60%;
	margin-left: 25em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 3em;
	margin-bottom: 3em;
}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.up {
	z-index: 10;
}

.card-down {
	z-index: -10;
	top: 5em%;
	position: absolute;
	display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-weight: 400;
    border: 0;
    max-width: 60%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.max { height: 100%;  }

.up {
	top: 20em;
	width: 50em;
	display: flex;
  bottom: 5em;
	}

input[class="card-title"]{
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
}

input[class="card-title"]:hover{
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
}

input[class="card-title"]:focus{
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid red;
}

input[class="card-title"]:active{
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 2px solid red;
}

.editable-title {
	font-weight: bold;
	font-size: 20pt;
}


.profile-photo {
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  margin-top: 2em;
}

.avatar {
  width: 60%;
  height: 60%;
  margin-left: 2em;
}

.md-form {
  width: 100%;
}
