.profile-conteiner {
	max-width: 60%;
	margin-left: 25em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 3em;
}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.up {
	z-index: 10;
}

.card-down {
	z-index: -10;
	position: absolute;
	display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 5em;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-weight: 400;
    border: 0;
    max-width: 60%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.max { height: 100%;  }

.up {
	width: 50em;
	display: flex;
  top: 20em;
  margin-bottom: 5em;
	}

.social-panel input{
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
}

.social-panel input:hover{
  text-align: center;
  border: none;
  border-bottom: 2px solid grey;
}

.social-panel input:focus{
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 2px solid red;
}

.social-panel input:active{
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 2px solid red;
}

.editable-title {
	font-weight: bold;
	font-size: 20pt;
}


.profile-photo {
  display: flex;
  flex-direction : row;
  justify-content: space-around;
  margin-top: 2em;
}

.avatar {
  width: 60%;
  height: 60%;
  margin-left: 2em;
}

.md-form {
  width: 100%;
}

.title-row{
  display:  flex;
  flex-direction:   row;
  width: 100%;
  align-items: center;  
  justify-content:  center; 
}


.btn-fb {
   background-color: #204da8;  
}

.btn-lincked {
  background-color: #26afe0; 
}

.btn-instagram{
  background-color: #eb173e; 
}

.btn-github{
  background-color: #332d2e;
}


.no-rm{
  margin-right: 0;
}

.btn-edit-social {
  background-color: white;
  border: none; 
}

.btn-edit-social:hover, .btn-edit-social:active {
  outline: none;
}

.social-panel {
  display:  flex; 
  flex-direction:   row; 
  max-width: 60%;
  margin: 2em; 

}

.social-button {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  color: white;

}

.social-item {
  margin-left: 0.5em;

}