.portfolio-container{
	margin-left: 20em;
	max-width: 60%;
}

.overlay {
	width: 30em;
	overflow: hidden;
	height: 100%;


}

.best-header {
	margin-bottom: 1em;
}

.text-control-item {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.text-center {
	display: flex;
	justify-content: center;
}
.text-left {
	display: flex;
	justify-content: flex-start;
}
.text-right {
	display: flex;
	justify-content: flex-end;
}

.text-format-button {
	cursor: pointer;
	margin-left: 0.5em;
	margin-top: 0.1em;
}

.overlay img {
	margin-top: 0px;
	height: 100%;
}

.compact {
	overflow: hidden;
	max-width: 	30em;

}

.no-m {
	margin: 0;
}

.best-container {
	max-width: 70em;
}

.hint-text {
	font-size: 20px;
	font-style: italic;
	margin-right: 0.5em;
	display: flex;
	align-self: center;

}

.no-l-mg {
	margin-left: 0;
}

.right-side-arr{	
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: flex-end; 
	overflow: 	hidden;		
	font-size: 	50px;
	z-index: 10;
	margin-top: 5.9em;
	right: 1em;
	margin-bottom: 0;
	cursor: pointer;	
}

.arrow {
	background: white;
	border-radius: 100%;
}

.card-plain-text {
	font-size: 20px;
}

.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}