@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

.Logo {
    margin: 20px 0px 30px 0;
    align-self: center;
}

.Logo p {
    font-size: 27pt;
    font-family: 'Lora', serif;
    overflow: hidden;
    border-right: .1em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .09em;
    animation:
            typing 2.5s steps(30, end),
            blink-caret .5s step-end 7;
}

@keyframes typing {
    from { width: 10% }
    to { width: 90% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
