.Footer {
    background-color: #367b92;
    background-image: linear-gradient(to bottom right, #4499b7, #255361);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.Footer p {
    font-size: 20pt;
}

.Footer .Menu {
    width: 100%;
    background-image: none;
    background-color: initial;
    margin: 10px 0 5px 0;
}

.Footer a {
    font-size: 20pt;
    transition: 0.4s;
}

.Footer a:hover {
    color: black;
}

.Footer .Credits p {
    color: white;
}

.Footer .Credits {
    display: flex;
    flex-direction: row;
}

.Footer .Year {
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}
