.Footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    align-self: center;
}

.Footer p {
    font-size: 20pt;
}

.Footer {
    left: 20%;
    background-image: none;
    background-color: initial;
    bottom: 1%;
}

.Footer a {
    font-size: 20pt;
    color: black;
    transition: 0.4s;
}

.Footer a:hover {
    color: #FF1493;
}

.Footer .Credit {
    font-size: 14pt;
    line-height: 26pt;
}

.Footer .Credits {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: black;

}

.Footer .Year {
    margin-bottom: 10px;
    color: black;
    font-weight: 600;
}

.Year{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.links{
    margin-left: 45%;
    display:    flex;
    flex-direction: row;
    align-items: center;
    align-self: center;


}

.Authors{
    width: 90%;
    margin-left: 10%;
    padding-top: 4px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.big{
    width:15%;
    height:15%;
}
